p, h1 {
  font-family: 'Lato', sans-serif;
}

.button {
  background-color: #000000;
}

.button:hover {
  background-color: #333333;
}

#contact-split {
  margin-bottom: 50px;
}

#container {
  margin: 0px 25px 10px 25px;
}

#logo {
  margin-top: 15px;
  margin-bottom: -10px;
}

.project {
  margin-bottom: 50px;
}

input, textarea {
	width: 80%;
	border-radius:3px;
	border:1px solid #dadada;
	margin: 5px auto;
	padding: 5px;
}

input:focus, textarea:focus{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
    border:2px solid #dadada;
    border-radius:4px;
}