<div class='text-center'>
  <h1>Contact Us</h1>
  <p class='subheader'>Shoot us a message if you're interested in our services, or just want to chat.</p>
</div>

<br>

<form>
  <div class='text-center'>
    <input name='name' type='name' placeholder='Full Name' autocomplete='name' required/>
  </div>
  <br>
  <div class='text-center'>
    <input name='email' type='email' placeholder='Email' autocomplete='email' required />
  </div>
  <br>
  <div class='text-center'>
    <textarea name='description' placeholder='How can we help?' cols='30' rows='5' required/></textarea>
  </div>
  <br>
  <div class='text-center'>
    <input type='submit' value='Submit', class='button radius' />
  </div>
</form>
