<!-- User mouse mapping -->
<script>
  (function(g,i,a,n,t,s){g['SeeYourVisitors']=n;g[n]=g[n]||function(){
  (g[n].q=g[n].q||[]).push(arguments)},g[n].l=1*new Date();t=i.createElement(a),
  s=i.getElementsByTagName(a)[0];t.async=1;t.src='//seeyourvisitors2.appspot.com/gg.js';
  s.parentNode.insertBefore(t,s)})(window,document,'script','gg');
  gg('create', '33eee258-6c6f-40af-8278-984b248a4ff2');
  gg('track');
</script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45278225-1', 'thecodery.co');
  ga('send', 'pageview');
</script>
